*.filetype filter=lfs diff=lfs merge=lfs -text
Assets/imports/ASTROFISH_GAMES/MEDIEVAL_SERIES/MEDIEVAL_VILLAGE/MEDIEVAL_VILLLAGE_HD_DEMO/Mats/Medieval_PlatformsFoundationsPorch_Albedo_8k.tif filter=lfs diff=lfs merge=lfs -text
Assets/imports/ASTROFISH_GAMES/MEDIEVAL_SERIES/MEDIEVAL_VILLAGE/MEDIEVAL_VILLLAGE_HD_DEMO/Mats/Medieval_PlatformsFoundationsPorch_NRM_8k.tif filter=lfs diff=lfs merge=lfs -text
